<div class="site-left" id="closed">
  <a class="menu-icon">
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
  </a>
  <div class="inner">
    <div class="innercontent">
      <div class="site-title">
        <a href="{{ site.baseurl }}/">
          <img src="/img/psb.jpg" alt="">
        </a>
        <h3>{{ site.author }}</h3>
      </div>
      <nav class="site-nav">
        {% for my_category in site.data.categories %}
          <a href="/docs/{{ my_category.name }}.html" class="page-link{% if my_category.name == page.categories[0] or my_category.name == page.cateid %} active{% endif %}"><span>{{ my_category.subname }}</span></a>
        {% endfor %}
      </nav>
      <section>
        <div class="touchme">
          <span class="icon icon--github">{% include icon-github.svg %}</span>
          <a href="https://github.com/{{ site.github_username }}" target="_blank" class="follow">follow</a>
        </div>
        <div class="touchme">
          <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="follow">follow</a>
        </div>
      </section>
      <section>
        <div class="touchme">
          <span class="icon icon--facebook">{% include icon-facebook.svg %}</span>
          <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="follow">follow</a>
        </div>
        <div class="touchme">
          <span class="icon icon--rss">{% include icon-rss.svg %}</span>
          <a href="/feed.xml" target="_blank" class="follow">RSS</a>
        </div>
      </section>
      <p class="about-link">
         <a href="/docs/about.html">about me</a>
      </p>
      <div class="site-foot">
        <p class="copyright">© 2016 Orlo.W</p>
      </div>
    </div>
  </div>
</div>
