.fm-nav{
	.navtitle{
		.titletext{

		}
	}
	.navlist{
		text-align: right;
		padding-right: 2rem;
		.list{
			display: block;
			color: #333;
			margin: 4px 0;
			font-weight: 600;
			text-decoration: none;
			&.on{
				color: #000;
			}
		}
	}
}