html,
body{
	width: 100%;
	height: 100%;
}
body{
	overflow: hidden;
	#fmContainer{
		font-family: "Segoe UI", "Andale Mono", "Microsoft YaHei";
		user-select: none;
		height: 100%;
		.fm-body{ 
			height: 100%;
			.fm-l{
				height: 100%;
				position: fixed;
				width: 20rem;
			}
			.fm-r{
				height: 100%;
				box-sizing: border-box;
				padding-left: 20rem;
			}
		}
	}
}
