// 多分辨率架构
//	<------340px=========480px==========620px==========750px==========1024px------>
// 					|<-- strict -->|<-- strict -->|<-- strict -->|<-- strict -->|
// 	1.所有strict间的内容使用百分比和box-sizing的border-box模型

html,
body{
	width: 100%;
	height: 100%;
  overflow: hidden;
}
body{
  backface-visibility:hidden;
	#fmContainer{
		font-family: "Segoe UI", "Andale Mono", "Microsoft YaHei";
		user-select: none;
		height: 100%;
		width: 100%;
		.fm-body{ 
			height: 100%;
			.fm-side{
        position: fixed;
				height: 100%;
			}
			.fm-article{
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
				box-sizing: border-box;
			}
		}
	}
}

@media (min-width: 750px) {
	.fm-side{
    width: 38.2%;
	}
	.fm-article{margin-left: 38.2%;}
  .document{
		padding-left: 4.5%;
		width: 95.5%;
  }
  .articleprofile{
    position: absolute;
    .articleprofiletitle{
      padding-left: 10.7%;
      width: 61.8%;
    }
    .articleprofiletext{
      padding-left: 21.4%;
      width: 96%;
    }
    .articlebgimg{
      width: 100%;
    }
  }
  .timeline{
		left: 15.9%;
  }
  .lestcardcontainer{
  	padding-left: 12.78%;
  }
}

@media (min-width: 837px) {
  .fm-side{width: 20rem;}
  .fm-article{margin-left: 20rem;}
}

@media (min-width: 1024px) {
  .document{
		padding-left: 2rem;
  }
  .timeline{
		left: 7rem;
  }
  .lestcardcontainer{
  	padding-left: 5rem;
  }
}

@media (min-width: 1366px) {
  .document{
		width: 61.5rem;
  }
  .articleprofile{
    .articleprofiletitle{
      padding-left: 7rem;
      width: 40.4rem;
    }
    .articleprofiletext{
      padding-left: 14rem;
      width: 62.72rem;
    }
    .articlebgimg{
      width: 65.375rem;
    }
  }
}

@media (max-width: 749px) {
	#fmContainer{
    background-color: #f2f2f2;
		.fm-body{
			.fm-side{
        position: absolute;
        z-index: 3;
        background-color: #fff;
				margin-left: -61.8%;
				width: 61.8%;
        #menu{
          position: absolute;
          width: 1.6rem;
          height: .2rem;
          top: 1.4rem;
          background-color: #fff;
          z-index: 3;
          right: -2.4rem;
          &:before{
            content: '';
            width: 1.6rem;
            height: .2rem;
            background-color: #fff;
            position: absolute;
            top: .6rem;
            left: 0;
          }
          &:after{
            content: '';
            width: 1.6rem;
            height: .2rem;
            background-color: #fff;
            position: absolute;
            bottom: .6rem;
            left: 0;
          }
        }
			}
			.fm-article{
				width: 100%;
        -webkit-overflow-scrolling: touch;
        .articleprofile{
          position: fixed;
          .articleprofiletitle{
            padding-left: 6.7%;
            width: 61.8%;
          }
          .articleprofiletext{
            padding-left: 14%;
            width: 96%;
          }
          .articlebgimg{
            width: 100%;
          }
        }
        .articlelist{
          .document{
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            background-color: #fff;
          }
        }
			}
		}
	}
  .timeline{
		left: 3rem;
  }
  .lestcardcontainer{
  	padding-left: 1rem;
  	padding-right: 1rem;
  }
  .listcard{
  	width: 100%;
  	.photo{
  		width: 38.2%;
  		height: 12%;
			.cardcover{
				width: 100%;
				height: 100%;
			}
  	}
  }
}
