<!DOCTYPE html>
<!-- diff theme between class daytime and night -->
<html class="daytime">
  {% include head.html %}
  <body>
    <div class="wrapper{% if page.pagetype == 'apppage' %} apppage{% endif %}">
      {% include navigate.html %}
      {% if page.title %}
        <section class="title">
          <span>{{ page.title }}</span>
        </section>
      {% elsif page.cateid %}
        {% for cate in site.data.categories %}
          {% if cate.name == page.cateid %}
            <section class="title">
              <span>{{ cate.subname }}</span>
            </section>
          {% endif %}
        {% endfor %}
      {% endif %}
      <section class="paper" id="main">
	      {{ content }}
      </section>
    </div>
  </body>
</html>
