<!DOCTYPE html>
<!-- diff theme between class daytime and night -->
<html class="daytime">
  {% include head.html %}
  <body>
    <div class="wrapper{% if page.pagetype == 'apppage' %} apppage{% endif %}">
      {% include navigate.html %}
      <section class="title">
      {% if page.title %}
        <span>{{ page.title }}</span>
      {% elsif page.cateid %}
        {% for cate in site.data.categories %}
          {% if cate.name == page.cateid %}
            <span>{{ cate.subname }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
      </section>
      <section class="paper" id="main">
	      {{ content }}
      </section>
    </div>
  </body>
</html>
