<!DOCTYPE html>
<!-- diff theme between class daytime and night -->
<html class="daytime">
  {% include head.html %}
  <body>
    <div class="wrapper{% if page.pagetype == 'apppage' %} apppage{% endif %}">
      {% include navigate.html %}
      {% if page.title %}
        <section class="title">
          <span>{{ page.title }}</span>
        </section>
      {% elsif page.cateid %}
        <section class="title">
          <span>{{ page.cateid }}</span>
        </section>
      {% endif %}
      <section class="paper">
	      {{ content }}
      </section>
    </div>
  </body>
</html>
