---
layout: default
---

<section class="paper">
  <article class="article">
    <div class="motto">{{ content }}</div>
    <div class="newslist">
      <h3>最新文章</h3>
      <ul>
        {% for post in site.posts limit:5 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </article>
</section>
