.flexLeft(){
	display: flex;
	justify-content: flex-start;
}

.fm-timeline{
	padding-bottom: 2em;
	.yearland{
		position: relative;
	}
}

.listcard{
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	.timepoint{
		position: absolute;
		width: 12px;
		height: 12px;
		border-radius: 9px;
		background-color: #555;
		margin-left: 28px;
		top: 1.6rem;
		z-index: 2;
	}
	.date{
		position: absolute;
		bottom: .7em;
		left: 1em;
		text-align: center;
		cursor: default;
		font-size: .7em;
		color: #bbb;
	}
	.doctext{
		position: relative;
		z-index: 1;
		background-color: #fff;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 1rem;
		a{
			color: #000;
			font-size: 1.4rem;
			text-decoration: none;
			border-bottom: 1px solid #333;
		}
		.text{
			cursor: default;
			text-indent: 2em;
			line-height: 1.6;
			letter-spacing: 1px;
			max-height: 6.61rem;
			overflow: hidden;
			text-align: justify;
		}
	}
	.photo{
		// float: left;
		// width: 38.8%;
		// border-radius: 0 5px 5px 0;
		// overflow: hidden;
		// z-index: 2;
		.cardcover{
			width: 100%;
			padding-bottom: 61.8%;
		}
	}
}

@media (min-width: 750px){
	.fm-timeline{
		padding-top: 1em;
	}
	.yearland{
		margin-top: 2.6em;
		margin-bottom: .6em;
		width: 1rem;
		height: 12px;
		background-color: #555;
		border-radius: 0 9px 9px 0;
		.year{
			position: relative;
			top: -.6rem;
			width: 13rem;
			margin-left: 1.6rem;
			cursor: default;
			font-size: 1.4rem;
		}
	}
	.listcard{
		margin-left: 2em;
		margin-top: 2rem;
	  transition: box-shadow 150ms 150ms ease-out;
		&:before{
			content: '';
			position: absolute;
			border-bottom: 4px dotted #555;
			width: 0;
			display: block;
			margin-left: -2em;
			padding-top: 2em;
	    transition: width 150ms ease-out;
		}
		&:hover{
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			&:before{
				width: 2em;
			}
		}
		.doctext{
			float: left;
			height: 100%;
		}
		.photo{
			float: left;
			width: 38.8%;
			border-radius: 0 5px 5px 0;
			overflow: hidden;
			z-index: 2;
			.cardcover{
				width: 100%;
				padding-bottom: 61.8%;
			}
		}
	}
}

@media (max-width: 749px){
	.yearland{
		padding-top: 1em;
		padding-bottom: 1em;
		.year{
			color: #bbb;
			text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45)
			text-align: center;
		}
	}
	.listcard{
		margin: .4em .4em;
		display: flex;
		flex-direction: column-reverse;
		.doctext{
		}
		.photo{
			width: 100%;
		}
	}
}
